* {
	box-sizing: border-box;
}
body{
	font-family: Roboto;
	margin: 0;
	background: url(img/1.jpg) no-repeat;
	width: 100%;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
html{
	scroll-behavior: smooth;
}
.header{
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	background-color: #424242;
	position: fixed;
}

.header .logo {
	
	flex: 25%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header .logo img{
	width: 31px;
	height: 32px;
}

.header .navbar {
	
	flex: 50%;
	display: flex;
	height: 100%;
	justify-content: center;
}

.header .navbar a {
	color: #fff;
	padding: 16px 20px;
	text-decoration: none;
}

.header .navbar a:hover{
	background-color: white;
	color: black;
	transition:0.5s color ease-in;
}

.header .sosmed {
	flex: 25%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header .sosmed img{
	padding: 10px 10px;
	height: 40px;
	justify-content: center;
}
.row{
	width: 100%;
	height: 687px;
	display: flex;
}

.row .sidebar{
	flex: 40%;
	display: flex;
	justify-content: flex-end;
	padding-right: 30px;
	align-items: center;
	text-align: right;

}
.row .sidebar img{
	height: 200px;
}

.row .main{
	flex: 60%;
	margin-top: 265px;
}

.row .main h1{
	font-family: Agency FB;
	letter-spacing: 17px;
	font-size: 50px;
	margin-bottom: 0px;
}
.row .main p{
	margin-top: 0px;
	font-family: Sitka Subheading;
}

@media screen and (max-width: 700px){
	.row .main h1{
		font-family: Agency FB;
		letter-spacing: 6px;
		font-size: 45px;
		margin-bottom: 0;
	}
	.row .main p{
		margin-top: 0;
		font-family: Sitka Subheading;
	}

}

@media screen and (max-width: 700px){
	.row{
		
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.row .sidebar{
		display: flex;
		justify-content: center;
		padding-top: 80px;
	}
	.row .main{
		flex: 100%;
		margin-top: 0;
		justify-content: center;
		flex-direction: column;
	}
	.row .main h1, p{
		display: flex;
		justify-content: center;
	}


}

hr{
	width: 200px;
}
.about .about1 h1{
	display: grid;
	justify-content: center;
}
.about{
	width: 100%;
	background-color: #647088;
	padding: 0px 30px;
	padding-bottom: 50px;
}
.about1{
	display: grid;
	grid-template-rows: 1fr;
	justify-content: center;
	padding: 30px;
}
.grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
}
.about2{
	padding: 10px 50px;
	display: grid;
	justify-content: center;
}
.about2c1{
	padding: 10px 50px;
	display: grid;
	justify-content: center;
}

@media screen and (max-width: 600px){
	.about2{
		grid-area: about;
	}
	.about2c1{
		grid-area: aboutc;
	}
	.grid{
		grid-template-areas: 
		"about"
		"aboutc";
	}

}
.table{
	margin-top: 15px;
	border-collapse: collapse;
	width: 500px;
}
.table td{
	padding: 10px 20px;
	color: white;
}
.table tr{
	text-align: center;
}
.table tr:nth-child(even){
	background-color: #b2b2b2;
}
.table tr:nth-child(odd){
	background-color: #8b8b8b;
}

@media screen and (max-width: 700px){
	.table{
	margin-top: 15px;
	border-collapse: collapse;
	width: 350px;
	padding: 5px;
	}
}

.skill{
	display: grid;
	grid-template-rows: 1fr;
	justify-content: center;
	padding-top: 10px;
}

.contain{
	width: 100%;
	border-radius: 5px;
	background-color: #b2b2b2;
}
.jarak{
	padding: 0px 65px;
}
.skil{
	text-align: right;
	padding-right: 20px;
	line-height: 30px;
	color: white;
	background-color: #424242;
}
.web{
	width: 60%;
	border-radius: 5px;
}
.desain{
	width: 50%;
	border-radius: 5px;
}
.jaringan{
	width: 90%;
	border-radius: 5px;
}

.portofolio{
	width: 100%;
	background-color: #C2C2C2;
	padding-bottom: 40px;
}
.portofolio .folio{
	display: grid;
	grid-template-rows: 1fr;
	justify-content: center;
	padding-bottom: 20px;
}
.portofolio .folio h1{
	display: grid;
	justify-content: center;
}
.gambar{
	display: flex;
	align-items: center;
	flex-wrap: wrap;

}
.pos{
	flex: 30%;
	display: flex;
	padding-bottom: 20px;
	justify-content: space-around;
}
.pos img{

	width: 300px;
}

.contact{
	width: 100%;
	height: 640px;
	background-color: #F7F7F7;
}
.contact .kontak{
	display: grid;
	grid-template-rows: 1fr;
	justify-content: center;
	padding: 30px;
}
.contact .kontak h1{
	display: grid;
	justify-content: center;
}

.grup {
 	margin-bottom: 16px;
 	display: grid;
 	grid-template-rows: 1fr;
 	justify-content: center;

}
.control {
 	width: 520px;
 	padding: 5px;
 	font-size: 16px;
 	color: #495057;
 	background-color: #fff;
 	border: 1px solid #ced4da;
 	border-radius: 4px;
 	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.butt{
	width: 70px;
	height: 30px;
	border-radius: 5px;
}
@media screen and (max-width: 700px){
	.control {
 	width: 350px;
 	font-size: 16px;
 	color: #495057;
 	background-color: #fff;
 	border: 1px solid #ced4da;
 	border-radius: 4px;
 	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	}
}
.footer{
	width: 100%;
	height: 120px;
	text-align: center;
	padding-top: 50px;
	font-size: 18px;
	background-color: #323F57;
}